<div id="<%= dom_id post %>">
  <p>
    <strong>Vimeo:</strong>
    <%= post.vimeo_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= timestamps_to_buttons(simple_format(post.description)).html_safe %>
  </p>

</div>
